body {
  font-family: "Cutive Mono", monospace;
}

h1 {
  color: #2609aa;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(8, 11, 201);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.background-video {
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 1;
  z-index: -1;
  display: flex;
  max-width: 600px;
  max-height: 500px;
  opacity: 0.7;
}
.video-wrapper {
  position: relative;
  max-width: 600px;
  height: 351.5px;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #2609aa;
  line-height: 1;
  font-size: 64px;
  font-weight: 400px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #2609aa;
  font-weight: bold;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(8, 11, 201);
  opacity: 0.9;
}

.weather-forecast-temperature-max {
  color: rgb(8, 11, 201);
  font-weight: bold;
}
.weather-forecast-temperature-min {
  color: rgb(8, 11, 201);
  opacity: 0.9;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
